<!doctype html>
<html lang="en" ng-app="botConfigApp">
<head>
  <meta charset="utf-8">
  <title>Bot Configuration</title>
  <script src="static/angular.js"></script>
  <script>
    var botConfigApp = angular.module('botConfigApp', []);

    botConfigApp.controller('BotConfigCtrl', function ($scope, $http, $httpParamSerializerJQLike) {
        $scope.messages = [];
        $scope.rules = [];

        $http.get('rules').success(function (data) {
          $scope.rules = data;
        });

        $scope.addRule = function () {
          post('rules').success(function (data) {
            $scope.rules.push(data);
          });
        };

        $scope.save = function (r) {
            console.log(r);
            post('rules/'+r.id, r);
        };

        function post(url, data) {
          var data = $httpParamSerializerJQLike(data);
          var config = {headers: {'Content-Type': 'application/x-www-form-urlencoded'}};
          return $http.post(url, data, config);
        }

        $scope.submitInput = function () {
          $scope.messages.push({userName: 'you', text: $scope.textInput});
          var data = {trigger_word: '', text: $scope.textInput, user_name: 'you'};
          post('bot', data).success(function (data) {
            var text = data.text || '<no response>';
            $scope.messages.push({userName: 'bot', text: text});
            $scope.textInput = '';
          });
        };
    });
  </script>
</head>
<body ng-controller="BotConfigCtrl">
  <div>
    <div ng-repeat="r in rules">
      When <input type="text" ng-model="r.triggerCode" ng-blur="save(r)"> then <input type="text" ng-model="r.actionCode" ng-blur="save(r)">
    </div>
    <button ng-click="addRule()">Add Rule</button>
  </div>
  <hr>
  <div>
    <input type="text" ng-model="textInput">
    <button ng-click="submitInput()">Submit test chat</button>
    <ul>
      <li ng-repeat="m in messages">
      {{m.userName}} | {{m.text}}
      </li>
    </ul>
  </div>
</body>
</html>
